
<div class="webframe">
  
    <div class="list_detal">
        <div class="list_title"> <a href="javascript:void(0)">{{announcementDetail.subject}}</a></div>
        <div class="list_d">
            <div>{{announcementDetail.category}}</div>
            <div>{{announcementDetail.publishDate}}</div>
            <div>{{announcementDetail.number}}</div>
        </div>
        <div class="text_detail">
            <p>{{announcementDetail.title}}</p>
            <p class="indent">
                {{announcementDetail.content}}
            </p>
            <p> {{announcementDetail.inscribe}} </p>
            <p class="text_r">{{announcementDetail.author}}</p>
            <p class="text_r">{{announcementDetail.date}}</p>
        </div>
    </div>
</div>

